*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #41002d;
}


div#calculadora div{
    display: flex;
}

input{
    margin: 2px;
    border: none;
    border-radius: 4px;
}

input[type=text]{
    width: calc(100% - 4px);
    height: 40px;
}

input[type=button]{
    width: 100px;
    height: 50px;
    transition: ease 0.1s;
    cursor: pointer;
}

div#calculadora {
    box-shadow: 0 0 15px black;
}

div#calculadora div input:nth-child(4){
    background: rgb(170, 170, 170);
}

div#quartal input:nth-child(1){
    background: #f11a1a;

}
div#quartal input:nth-child(1), div#calculadora {
    border-bottom-left-radius: 35px;
}

div#quartal input:nth-child(3){
    background: #1a4cf1;
}

input[type=button]:hover{
    filter: brightness(50%);
}

input[type=button]:active{
    transform: scale(0.9)
}